.main-title {
  margin-bottom: 2em;
}
.thumbnail-item {
  margin-bottom: 1em;
}
.thumbnail-title {
  margin-top: 0;
}
.no-items {
	text-align: center;
}
.delete-movie {
  float: right;
}
@media screen and (max-width: 768px) {
  .main-title {
    margin-bottom: 1em;
  }
  .thumbnail-title {
    font-size: 1.5em;
  }
}